<!-- ng-view placeholder -->
<!-- main div placeholder  -->
<div class="container-fluid">
    <div class="row">
        <!-- Empty div to align the middle div-->
        <div class="col-lg-12 col-md-12">
            <div class="jumbotron home-page-jumbotron">
                <h1><strong>Welcome to the Restaurant</strong></h1>
                <h3>“We welcome you to a delicious feast of exquisite dishes in Star line.
                    <br> With a wide range of world cuisines to choose from,
                    we guarantee you a sumptuous feast experience in our restaurant.” </h3>
            </div>
        </div>
        <!-- Empty div to align the middle div-->
    </div>
</div>
<!-- End of ng-view placeholder -->