<!-- ng-view placeholder -->
<!-- main div placeholder  -->
<div class="container-fluid">
    <div class="row">
        <!-- Empty div to align the middle div-->
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10 middle-section-background">
            <ul class="nav nav-tabs">
                <li class="col-lg-4 col-md-4 col-md-4 restaurant-tab-links">
                    <a href="#/restaurantProfile"><strong>Restaurant Profile</strong></a>
                </li>
                <li class="col-lg-4 col-md-4 restaurant-tab-links">
                    <a href=""><strong>App Settings</strong></a>
                </li>
                <li class="active col-lg-4 col-md-4 restaurant-tab-links">
                    <a href="#/ownerReservations"><strong>Reservations</strong></a>
                </li>
            </ul>
            <header><h1><strong>Reservations</strong></h1></header>
            <legend></legend>
            <div class="form-group">
                <label for="searchBox" class="col-lg-1  col-md-12 ">Search </label>
                <div class="col-lg-3 col-md-12 ">
                    <input type="search" class="form-control" ng-model="search" id="searchBox"
                           placeholder="Type name or email" autofocus>
                </div>
            </div>
            <legend></legend>
            <table class="table table-striped">
                <thead>
                <tr class="success">
                    <th>Icon</th>
                    <th ng-click="sort('cnfid')">Confirmation Number
                        <span class="glyphicon sort-icon" ng-show="sortKey='cnfid'"
                              ng-class="{'glyphicon glyphicon-chevron-up':reverse, 'glyphicon glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('name')">Name
                        <span class="glyphicon sort-icon" ng-show="sortKey='name'"
                              ng-class="{'glyphicon glyphicon-chevron-up':reverse, 'glyphicon glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('emailid')">Email
                        <span class="glyphicon sort-icon" ng-show="sortKey='emailid'"
                              ng-class="{'glyphicon glyphicon-chevron-up':reverse, 'glyphicon glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th ng-click="sort('partysize')">Party Size
                        <span class="glyphicon sort-icon" ng-show="sortKey='partysize'"
                              ng-class="{'glyphicon glyphicon-chevron-up':reverse, 'glyphicon glyphicon-chevron-down':!reverse}"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="p in ownerRsVm.reservations.arry | itemsPerPage:10 | filter:search | orderBy:sortKey:reverse">
                    <td><a ng-href="#/ownerReservationsDetails/{{p.confirmationId}}"><span class="glyphicon glyphicon-user"></span></a></td>
                    <td>{{p.confirmationId}}</td>
                    <td>{{p.user.userName}}</td>
                    <td>{{p.user.emailId}}</td>
                    <td>{{p.restaurantTable.seatinSize}}</td>
                </tr>
                <dir-pagination-controls max-size="5" direction-links="true"
                                         boundary-links="true"
                                         template-url="app/dirPagination.tpl.html">
                </dir-pagination-controls>
                </tbody>
            </table>
            <legend></legend>
        </div>
        <!-- Empty div to align the middle div-->
        <div class="col-lg-2 col-md-1"></div>
    </div>
</div>
<!-- ng-view placeholder -->
<!-- main div placeholder  -->