<!-- ng-view placeholder -->
<!-- main div placeholder  -->
<div class="container-fluid">
    <div class="row">
        <!-- Empty div to align the middle div-->
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10 middle-section-background">
            <ul class="nav nav-tabs">
                <li class="active col-lg-4 col-md-4 col-md-4 restaurant-tab-links">
                    <a href="#/restaurantProfile"><strong>Restaurant Profile</strong></a>
                </li>
                <li class="col-lg-4 col-md-4 restaurant-tab-links">
                    <a href=""><strong>App Settings</strong> </a>
                </li>
                <li class="col-lg-4 col-md-4 restaurant-tab-links">
                    <a href="#/ownerReservations"><strong>Reservations</strong></a>
                </li>
            </ul>
            <header><h1><strong>Restaurant Profile</strong></h1></header>
            <form class="form-horizontal">
                <div class="form-group  has-success">
                    <label for="restaurantName" class="control-label col-lg-2 col-md-12">Restaurant Name: </label>
                    <div class="col-lg-3 col-md-12">
                        <input type="text" class="form-control"
                               ng-model="resProfileVm.restaurantProfile.restaurantdetails.name"
                               id="restaurantName"
                               autofocus ng-readonly="!resProfileVm.isEditable">
                    </div>
                </div>
                <legend></legend>
                <div class="form-group has-success">
                    <label for="restaurantDescription" class="control-label col-lg-2 col-md-12">Description: </label>
                    <div class="col-lg-10 col-md-12">
                        <textarea class="form-control" rows="5"
                                  ng-model="resProfileVm.restaurantProfile.restaurantdetails.description"
                                  id="restaurantDescription"  ng-readonly="!resProfileVm.isEditable"></textarea>
                    </div>
                </div>
                <legend></legend>
                <div class="form-group has-success">
                    <label for="restaurantPhoneNumber" class="control-label col-lg-2 col-md-12">Phone Number: </label>
                    <div class="col-lg-3 col-md-12 ">
                        <input type="text" class="form-control"
                               ng-model="resProfileVm.restaurantProfile.restaurantdetails.phone"
                               id="restaurantPhoneNumber" ng-readonly="!resProfileVm.isEditable">
                    </div>
                </div>
                <legend></legend>
                <div class="form-group has-success">
                    <label class="control-label col-lg-2 col-md-12">Restaurant Timings: </label>
                    <fieldset class="timings-fieldset col-lg-5 col-md-12">
                        <div class="form-group has-success">
                            <label for="mondayTimingStart" class="control-label col-lg-3 col-md-12">Monday: </label>
                            <div class="col-lg-3 col-md-6 ">
                                <input type="text" class="form-control" id="mondayTimingStart" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.monday.start"  ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 ">
                                <input type="text" class="form-control" id="mondayTimingEnd" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.monday.end"  ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="tuesdayTimingStart" class="control-label col-lg-3 col-md-12">Tuesday: </label>
                            <div class="col-lg-3 col-md-12 ">
                                <input type="text" class="form-control" id="tuesdayTimingStart" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.tuesday.start" ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 ">

                                <input type="text" class="form-control" id="tuesdayTimingEnd" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.tuesday.end" ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="wendnesdayTimingStart" class="control-label col-lg-3 col-md-12">Wednesday: </label>
                            <div class="col-lg-3 col-md-12 ">
                                <input type="text" class="form-control" id="wendnesdayTimingStart"
                                       placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.wednesday.start" ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 ">

                                <input type="text" class="form-control" id="wendnesdayTimingEnd"
                                       placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.wednesday.end" ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="thursdayTimingStart" class="control-label col-lg-3 col-md-12">Thursday: </label>
                            <div class="col-lg-3 col-md-12 ">
                                <input type="text" class="form-control" id="thursdayTimingStart" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.thursday.start" ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 has-success">
                                <input type="text" class="form-control" id="thursdayTimingEnd" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.thursday.end" ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="fridayTimingStart" class="control-label col-lg-3 col-md-12">Friday: </label>
                            <div class="col-lg-3 col-md-12 ">
                                <input type="text" class="form-control" id="fridayTimingStart" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.friday.start" ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 ">
                                <input type="text" class="form-control" id="fridayTimingEnd" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.friday.end" ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label for="saturdayTimingStart" class="control-label col-lg-3 col-md-12">Saturday: </label>
                            <div class="col-lg-3 col-md-12 ">
                                <input type="text" class="form-control" id="saturdayTimingStart" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.saturday.start" ng-readonly="!resProfileVm.isEditable">
                            </div>
                            <div class="col-lg-1 col-md-2 ">
                                <label class="control-label"><strong>to</strong></label>
                            </div>
                            <div class="col-lg-3 col-md-6 ">
                                <input type="text" class="form-control" id="saturdayTimingEnd" placeholder="hh:mm:ss"
                                       ng-model="resProfileVm.restaurantProfile.timings.saturday.end" ng-readonly="!resProfileVm.isEditable">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <legend></legend>
                <div class="form-group last-element">
                    <div class="col-lg-3 col-md-1"></div>
                    <div class="form-group col-lg-6">
                        <div class="col-lg-offset-2" ng-show="resProfileVm.isEditable">
                            <button type="button" class=" btn btn-success" ng-click="resProfileVm.submit()">
                                Submit
                            </button>
                            <button type="button" class="btn btn-success col-lg-offset-2" ng-click="resProfileVm.cancel()">
                                Cancel
                            </button>
                        </div>
                        <div class="col-lg-offset-4 col-md-offset-4" ng-show="!resProfileVm.isEditable">
                            <button type="button" class="col-lg-3 col-md-3 btn btn-success" ng-click="resProfileVm.edit()">
                                Edit
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-1"></div>
                </div>
            </form>


        </div>
        <!-- Empty div to align the middle div-->
        <div class="col-lg-2 col-md-1"></div>
    </div>
</div>
<!-- ng-view placeholder -->
<!-- main div placeholder  -->